* {
    margin: 0;
    padding: 0;
    list-style: none;
}

.Indexcontainer {
    width: 100%;
    height: 100%;

}

.header {
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-bottom: 2px solid #000;
}

a {
    text-decoration: none;
}

a:hover {
    border-bottom: 2px solid #1266F6;
    color: #1266F6;
}

